<!-- <p id="Title"><img src="{{hero.file}}-title.png" alt="{{hero.name}}"/></p>
<br><br><br><br><br><br>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-4">
    <p>Nom : {{hero.name}}</p>
    <br><br>
    <p>Surnom : {{hero.nickname}}</p>
    <br><br>
    <p>Date d'apparition : {{hero.firstscene}}</p>
  </div>
  <div class="col-lg-4">
      <p><img height="350" src="{{hero.file}}" alt="{{hero.name}}"/></p>
  </div>
</div>
<br><br>
<p><a href="http://localhost:4200/#/marvel">Retour à la liste des héros</a></p> -->

{{hero4 | json}}