<p id="Title"><img src="assets/images/angular.png" alt="Angular"/></p>
<div class="row" *ngFor="let tab of heroesLigns">
  <div class="col-lg-1"></div>
  <div class="col-lg-2" *ngFor="let hero0 of tab">
    <val-hero-details [hero22]="hero0" (onHeroClicked)="showDetails(hero0)"></val-hero-details>
  </div>
</div>